.container .subtitle {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title .query-text {
  color: #aa1ce5;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-container div {
  width: 30%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  border-radius: 10px;
}

.movies-container div img {
  max-width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.movies-container div img,
.movies-container div p {
  margin-bottom: 1rem;
}

.movies-container div h2 {
  margin-bottom: 1.5rem;
}

.movies-container div svg {
  color: white;
}

.movies-container div a {
  background-color: #aa1ce5;
  border: 2px solid #aa1ce5;
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 10px 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-container div a:hover {
  background-color: transparent;
}
