.movie-page {
  color: #fff;
  background-color: #1f1f23;
  padding: 2.625rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  height: calc(100vh - 120px);
}

@media (max-width: 1900px) {
  .movie-page {
    height: 100vh;
  }
}

@media (max-width: 572px) {
  .movie-page {
    height: 115vh;
  }
}

@media (max-width: 400px) {
  .movie-page {
    height: 150vh;
  }
}

.movie-page .movie-card p {
  display: none !important;
}

.movie-page svg {
  font-size: 1.5rem;
  color: #aa1ce5;
}

.movie-info {
  max-width: 500px;
  margin-top: 6.25rem;
  word-break: break-word;
}

@media (max-width: 1024px) {
  .movie-page {
    flex-direction: column;
    height: 115vh;
  }
  .movie-info {
    margin: 0 auto;
  }
}

.movie-page .movie-card {
  text-align: center;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
  margin-bottom: 1rem;
}

.movie-page .movie-card img {
  max-width: 350px;
  max-height: 525px;
}

@media (max-width: 400px) {
  .movie-page .movie-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.movie-card .movie-title {
  padding-top: 20px;
  padding-bottom: 37px;
  padding: 1rem 0 1rem 1rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #efeff1;
}

.movie-page .movie-card h2 {
  font-size: 2rem;
}

.movie-page .movie-card p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.tagline {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 0.9375rem;
}

.info h3 {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #efeff1;
}

.description p {
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #efeff1;
}
