#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #18181b;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar a {
  color: #aa1ce5;
  font-family: "Haettenschweiler", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}
