* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1F1F23;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #f7d354;
  transition: 0.5s;
}

a:hover {
  color: #b8930c;
}

.container.alinhamento {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: center;
  z-index: 1;
}

.banner {
  background: url(/src/img/Filmes.png);
  background-size: cover;
}

.container .title {
  font-size: 7.75rem;
  color: #EFEFF1;
  text-align: center;
  font-family: 'Haettenschweiler', sans-serif;
  font-style: normal;
  font-weight: 400;
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background: #a91ce5d8;
}
html ::-webkit-scrollbar-track {
  background: #ededed;
}
